<div class="user_page">
  <div class="user_container">
  お名前
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :name %>
  <% end %>
  年齢
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :age %>
  <% end %>
  性別
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :gender %>
  <% end %>
  疾患名
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :disease %>
  <% end %>
  身長
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :height %>
  <% end %>
  体重
  <%= form_for(@user, url: new_users_path)  do |f| %>
  <%= f.text_field :weight %>
<p>
  <%= f.submit "登録する"%>
  <% end %>

  

  
  </div>
</div>